<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="white-background">
{% include "menu_bar.html" %}

<div class="container">
    <form action="/add_car" method="post" enctype="multipart/form-data" class="form-control no-bg">

        <p>Заповніть інформацію про ваше авто:</p>
        <h2 class='add_car_info'>1. Добавте фотографії до вашого оголошення</h2>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <div id="image-preview" class="image-preview">
            <img id="preview-image" src="#" alt="Preview">
            <span id="remove-image" class="remove-icon">&times;</span>
        </div>
        <label id="upload-button" class="btn-logging" for="image">Upload Image</label>





        <h2 class='add_car_info'>2. Основна інформація</h2>

        <label for="mark">Марка:</label>
        <select id="mark" name="mark" required>
            <option value="" disabled selected>Select Mark</option>
            {% for mark in marks %}
                <option value="{{ mark.id }}">{{ mark.name }}</option>
            {% endfor %}
        </select><br><br>

        <label for="model">Модель:</label>
        <select id="model" name="model" required disabled>
            <option value="" disabled selected>Select Model</option>
        </select><br><br>




        <label for="price">Ціна:</label>
        <input type="number" id="price" name="price" required><br><br>


        <label for="year">Рік випуску:</label>
        <input type="number" id="year" name="year" required><br><br>

        <label for="mileage">Пробіг (у км):</label>
        <input type="number" id="mileage" name="mileage" step="100" required><br><br>

        <label for="engine">Двигун:</label>
        <input type="number" id="engine" name="engine" step="0.1" required><br><br>

        <h2 class='add_car_info'>2. Опис, характеристики</h2>

        <label for="power">Потужність (кс):</label>
        <input type="number" id="power" name="power" step="10" required><br><br>

        <label for="fuel">Тип палива:</label>
        <select id="fuel" name="fuel" required>
            <option value="" disabled selected>Виберіть тип палива</option>
            <option value="Бензин">Бензин</option>
            <option value="Дизель">Дизель</option>

        </select><br><br>


                <label for="color">Колір:</label>
        <select id="color" name="color" required>
            <option value="" disabled selected>Виберіть колір</option>
            <option value="Червоний">Червоний</option>
            <option value="Синій">Синій</option>
            <option value="Зелений">Зелений</option>
            <option value="Чорний">Чорний</option>
            <option value="Білий">Білий</option>
            <option value="Срібний">Срібний</option>
            <option value="Сірий">Сірий</option>
            <option value="Золотий">Золотий</option>
            <option value="ПОмаранчевий">Помаранчевий</option>
            <option value="Жовтий">Жовтий</option>
            <option value="Коричневий">Коричневий</option>
            <option value="Пурпурний ">Пурпурний</option>
        </select><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea><br><br>


        <button type="submit" id="add_car_btn">Add Car</button>
    </form>


</div>

</body>
</html>
